<div class="page" id="page-about">
    <header class="bp-header cf">
        <h1 class="bp-header__title">About me</h1>
        <p class="bp-header__desc">I'm someone who loves building stuff, originally from The Netherlands</p>
        <p class="info">
            Some things I like:
            <ul>
                <li>
                    <strong>AI & Machine Learning.</strong>
                </li>
                <li>
                    <strong>Game Development</strong>, my best game jam entry ended up 6th overall in Ludum Dare!</li>
                <li>
                    <strong>Open source</strong>. I aim to write most of my projects with an open license, others may use and or
                    learn from it one day.</li>
                <li>
                    <strong>The latest tech</strong>. I’m an avid hackernews reader.</li>
                <li>
                    <strong>Airsoft</strong>. Occasionally I join a skirm to practice my 360-noscopes in real life.</li>
            </ul>

        </p>
    </header>
</div>