<div class="page" id="page-about">
    <header class="bp-header cf">
        <h1 class="bp-header__title">About me</h1>
        <p class="bp-header__desc">I love building stuff that works and feels great. I'm originally from The Netherlands</p>
        <p>
            In particular my areas of interest are web technologies, machine learning, computer vision, and (3D) visualization. 
        </p>
        <p>
            I have experience working on any part of the stack (frontend, backend, cloud, machine learning, mobile).
        </p>
    </header>
</div>
