<div class="page" id="page-projects">
    <header class="bp-header cf">
        <h1 class="bp-header__title">Projects</h1>
        <p class="bp-header__desc">See also my
            <a href="https://www.github.com/gzuidhof">GitHub profile</a>
        </p>
        <p class="info">
            ⚒ Under construction.. I am slowly adding projects.
            <br><br>
            My game development project page more complete already, have a look at that!
        </p>
    </header>
    <div class="page-content">
        <div class="project-container">
            <h3 class="project-title" >nn-transfer</h3>
            <span class="project-subtitle">Neural Network weight transfer - 
                <i>Pytorch <> Keras</i>
            </span>
            <p>
                Utilities for converting PyTorch models to Keras and the other way around. More specifically, it allows you to copy the weights from a PyTorch model to an identical model in Keras and vice-versa.
            </p>
            <p>
                I created this tool out of my own need, and since open sourcing it it has been starred over a hundred times on GitHub. <br>
                It is unique in the way it works from other tools, as it does not infer the model structure itself. That is where every other tool has the most difficulty (and often fails). In this tool instead you define the same model architecture yourself.
            </p>
            <p class="project-links">
                ⚙️ Python 2 & 3, travic-ci |
                <a href="http://github.com/gzuidhof/nn-transfer">project page</a>
                |
                <a href="https://github.com/gzuidhof/nn-transfer/blob/master/example.ipynb">example usage</a>
            </p>
        </div>
    </div>
</div>