<nav class="pages-nav">
    <div class="pages-nav__item">
        <a class="link link--page" href="#page-home">Home</a>
    </div>
    <div class="pages-nav__item">
        <a class="link link--page" href="#page-about">About me</a>
    </div>
    <div class="pages-nav__item">
        <a class="link link--page" href="#page-projects">Projects</a>
    </div>
    <div class="pages-nav__item">
        <a class="link link--page" href="#page-gamedev">Games</a>
    </div>
    <div class="pages-nav__item pages-nav__item--small">
        <a class="link link--page link--faded" target="_blank" href="cv.pdf">Résumé (pdf)</a>
    </div>
    <div class="pages-nav__item pages-nav__item--small">
        <a class="link link--page link--faded" href="#page-contact">Contact</a>
    </div>
    <div class="pages-nav__item pages-nav__item--social">
        <a class="link link--social link--faded" href="https://www.github.com/gzuidhof">
            <i class="fa fa-github"></i>
            <span class="text-hidden">GitHub</span>
        </a>
        <a class="link link--social link--faded" href="mailto:me@guido.io">
            <i class="fa fa-envelope"></i>
            <span class="text-hidden">E-mail</span>
        </a>
        <a class="link link--social link--faded" href="https://www.linkedin.com/in/guido-zuidhof-377b6947/">
            <i class="fa fa-linkedin"></i>
            <span class="text-hidden">LinkedIn</span>
        </a>
    </div>
</nav>
<div class="pages-stack">
    <div class="page" id="page-home">
        <header class="bp-header cf">
            <span class="bp-header__present">Hello, I'm</span>
            <h1 class="bp-header__title">Guido Zuidhof</h1>
            <p class="bp-header__desc" style="font-weight: normal">Tech person based in The Netherlands.</p>
        </header>
    </div>

    {{ partial "pages/about.html" }} {{ partial "pages/projects.html" }} {{ partial "pages/gamedev.html" }} {{ partial "pages/contact.html"}}
</div>
<button class="menu-button">
    <span>Menu</span>
</button>